{% extends 'baseLogin.html.twig' %}
{% block body %}
    <div class="container py-5 mt-4" id="privacy-custom">
        <div class="mx-4 px-4">
            <h1 class="py-2 my-4 privacy-heading">OUR COMMITMENT TO YOU</h1>
            <p>At Dating Social Network, your privacy is a top priority. Your privacy is at the core of the way we design and build the services and products you know and love, so that you can fully trust them and focus on building meaningful connections.</p>

            <p>We appreciate that you put your trust in us when you provide us with your information and we do not take this lightly.</p>

            <p><b>We do not compromise with your privacy.</b> We design all of our products and services with your privacy in mind. We involve experts from various fields, including legal, security, engineering, product design and others to make sure that no decision is taken without respect for your privacy.</p>

            <p><b>We strive to be transparent in the way we process your data.</b> Because we use many of the same online services you do, we know that insufficient information and overly complicated language are common issues in privacy policies. We take the exact opposite approach: we have written our Privacy Policy and related documents in plain language. We actually want you to read our policies and understand our privacy practices!</p>

            <p><b>We work hard to keep your information secure</b> We have teams dedicated to keeping your data safe and secure. We constantly update our security practices and invest in our security efforts to enhance the safety of your information.</p>


            <P class="text-center">***</P>
            <h1 class="privacy-heading pb-2">PRIVACY POLICY</h1>
            <p>Welcome to Dating Social Network’s Privacy Policy. Thank you for taking the time to read it.</p>

            <p>We appreciate that you trust us with your information and we intend to always keep that trust. This starts with making sure you understand the information we collect, why we collect it, how it is used and your choices regarding your information. This Policy describes our privacy practices in plain language, keeping legal and technical jargon to a minimum.</p>

            <p>This Privacy Policy applies beginning May 25, 2018. The previous version of this Privacy Policy, available here, will apply until then.</p>

            <p><u>EFFECTIVE DATE:</u> May 25, 2018</p>

            <ul>
                <li>
                    <a href="#">1. WHO WE ARE</a>
                </li>
                <li>
                    <a href="#">2. WHERE THIS PRIVACY POLICY APPLIES</a>
                </li>
                <li>
                    <a href="#">3. INFORMATION WE COLLECT</a>
                </li>
                <li>
                    <a href="#">4. COOKIES AND OTHER SIMILAR DATA COLLECTION TECHNOLOGIES</a>
                </li>
                <li>
                    <a href="#">5. HOW WE USE INFORMATION</a>
                </li>
                <li>
                    <a href="#">6. HOW WE SHARE INFORMATION</a>
                </li>
                <li>
                    <a href="#">7. CROSS-BORDER DATA TRANSFERS</a>
                </li>
                <li>
                    <a href="#">8. YOUR RIGHTS </a>
                </li>
                <li>
                    <a href="#">9. RESIDENTS OF CALIFORNIA</a>
                </li>
                <li>
                    <a href="#">10. HOW WE PROTECT YOUR INFORMATION</a>
                </li>
                <li>
                    <a href="#">11. HOW LONG WE RETAIN YOUR INFORMATION</a>
                </li>
                <li>
                    <a href="#">12. CHILDREN’S PRIVACY</a>
                </li>
                <li>
                    <a href="#">13. PRIVACY POLICY CHANGES</a>
                </li>
                <li>
                    <a href="#">14. HOW TO CONTACT US</a>
                </li>

            </ul>

            <p><b>FOR CALIFORNIA CONSUMERS</b></p>
            <p>Please see our <a href="#">California Privacy Statement</a> to learn about California privacy rights.</p>

            <p><b>1. WHO WE ARE</b></p>
            <p>If you live in the European Union, the company that is responsible for your information under this Privacy Policy (the “data controller”) is:</p>

            <p>Rf Soft Lab</p>
            <p>Dating Social Network</p>
            <p>WeWork Charlemont Exchange</p>
            <p>12 paris Street</p>
            <p>Parise 432</p>
            <p>France</p>

            <p>If you live outside the European Union, the company responsible for your information is:</p>

            <p>Rf Soft Lab</p>
            <p>Parise 432</p>
            <p>Suite 34</p>
            <p>Dallas, TX 812</p>
            <p>Asia</p>

            <p><b>2. WHERE THIS PRIVACY POLICY APPLIES</b></p>
            <p>This Privacy Policy applies to websites, apps, events and other services operated by Dating Social Network. For simplicity, we refer to all of these as our “services” in this Privacy Policy. To make it extra clear, we’ve added links to this Privacy Policy on all applicable services.</p>

            <p>Some services may require their own unique privacy policy. If a particular service has its own privacy policy, then that policy -- not this Privacy Policy -- applies.</p>

            <p><b>3. INFORMATION WE COLLECT</b></p>
            <p>It goes without saying, we can’t help you develop meaningful connections without some information about you, such as basic profile details and the types of people you’d like to meet. We also collect information generated as you use our services, for example access logs, as well as information from third parties, like when you access our services through a social media account. If you want additional info, we go into more detail below.</p>

            <b><i>Information you give us</i></b>
            <p>You choose to give us certain information when using our services. This includes:</p>

            <ul>
                <li>When you create an account, you provide us with at least your login credentials, as well as some basic details necessary for the service to work, such as your gender and date of birth.</li>
                <li>When you complete your profile, you can share with us additional information, such as details on your personality, lifestyle, interests and other details about you, as well as content such as photos and videos. To add certain content, like pictures or videos, you may allow us to access your camera or photo album. Some of the information you choose to provide us may be considered “special” or “sensitive” in certain jurisdictions, for example your racial or ethnic origins, sexual orientation and religious beliefs. By choosing to provide this information, you consent to our processing of that information.</li>
                <li>When you subscribe to a paid service or make a purchase directly from us (rather than through a platform such as iOS or Android), you provide us or our payment service provider with information, such as your debit or credit card number or other financial information.</li>
                <li>When you participate in surveys or focus groups, you give us your insights into our products and services, responses to our questions and testimonials.</li>
                <li>When you choose to participate in our promotions, events or contests, we collect the information that you use to register or enter.</li>
                <li>If you contact our customer care team, we collect the information you give us during the interaction. Sometimes, we monitor or record these interactions for training purposes and to ensure a high quality of service.</li>
                <li>If you ask us to communicate with or otherwise process information of other people (for example, if you ask us to send an email on your behalf to one of your friends), we collect the information about others that you give us in order to complete your request.</li>
                <li>Of course, we also process your chats with other users as well as the content you publish, as part of the operation of the services.</li>
            </ul>

            <b><i>Information we receive from others</i></b>
            <p>In addition to the information you provide us directly, we receive information about you from others, including:</p>

            <ul>
                <li><b>Other Users</b></li>
                <p>may provide information about you as they use our services. For instance, we may collect information about you from other users if they contact us about you.</p>
                <li><b>Social Media</b></li>
                <p>You may be able to use your social media login (such as Facebook Login) to create and log into your Dating Social Network account. This saves you from having to remember yet another user name and password and allows you to share some information from your social media account with us.</p>
                <li><b>Other Partners</b></li>
                <p>We may receive info about you from our partners, for instance where Dating Social Network ads are published on a partner’s websites and platforms (in which case they may pass along details on a campaign’s success).</p>
            </ul>

            <b><i>Information collected when you use our services</i></b>
            <p>When you use our services, we collect information about which features you’ve used, how you’ve used them and the devices you use to access our services. See below for more details:</p>

            <ul>
                <li><b>Usage Information</b></li>
                <p>We collect information about your activity on our services, for instance how you use them (e.g., date and time you logged in, features you’ve been using, searches, clicks and pages which have been shown to you, referring webpage address, advertising that you click on) and how you interact with other users (e.g., users you connect and interact with, time and date of your exchanges, number of messages you send and receive).</p>
                <li><b>Device information</b></li>
                <p>We collect information from and about the device(s) you use to access our services, including:</p>
                <ul>
                    <li><p>hardware and software information such as IP address, device ID and type, device-specific and apps settings and characteristics, app crashes, advertising IDs (such as Google’s AAID and Apple's IDFA, both of which are randomly generated numbers that you can reset by going into your device’ settings), browser type, version and language, operating system, time zones, identifiers associated with cookies or other technologies that may uniquely identify your device or browser (e.g., IMEI/UDID and MAC address);</p></li>
                    <li><p>information on your wireless and mobile network connection, like your service provider and signal strength;</p></li>
                    <li><p>information on device sensors such as accelerometers, gyroscopes and compasses.</p></li>
                </ul>
                <li><b>Other information with your consent</b></li>
                <p>If you give us permission, we can collect your precise geolocation (latitude and longitude) through various means, depending on the service and device you’re using, including GPS, Bluetooth or Wi-Fi connections. The collection of your geolocation may occur in the background even when you aren’t using the services if the permission you gave us expressly permits such collection. If you decline permission for us to collect your geolocation, we will not collect it.
                    hoto, video or streaming on the services).</p>
            </ul>

            <p><b>4. COOKIES AND OTHER SIMILAR DATA COLLECTION TECHNOLOGIES</b></p>
            <p>We use and may allow others to use cookies and similar technologies (e.g., web beacons, pixels) to recognize you and/or your device(s). You may read our <a href="#">Cookie Policy</a> for more information on why we use them (such as authenticating you, remembering your preferences and settings, analyzing site traffic and trends, delivering and measuring the effectiveness of advertising campaigns, allowing you to use social features) and how you can better control their use, through your browser settings and other tools.</p>

            <p>Some web browsers (including Safari, Internet Explorer, Firefox and Chrome) have a “Do Not Track” (“<b>DNT</b>”) feature that tells a website that a user does not want to have his or her online activity tracked. If a website that responds to a DNT signal receives a DNT signal, the browser can block that website from collecting certain information about the browser’s user. Not all browsers offer a DNT option and DNT signals are not yet uniform. For this reason, many businesses, including Dating Social Network, do not currently respond to DNT signals.</p>

            <p><b>5. HOW WE USE INFORMATION</b></p>
            <p>The main reason we use your information is to deliver and improve our services. Additionally, we use your info to help keep you safe and to provide you with advertising that may be of interest to you. Read on for a more detailed explanation of the various reasons we use your information, together with practical examples.</p>

            <b><i>To administer your account and provide our services to you</i></b>

            <ul>
                <li><p>Create and manage your account</p></li>
                <li><p>Provide you with customer support and respond to your requests</p></li>
                <li><p>Complete your transactions</p></li>
                <li><p>Communicate with you about our services, including order management and billing</p></li>
            </ul>

            <b><i>Communicate with you about our services, including order management and billing</i></b>

            <ul>
                <li><p>Analyze your profile, activity on the service, and preferences to recommend meaningful connections to you and recommend you to others; For more information on our profiling and automated decision-making, please see our <a href="#">FAQ</a></p></li>
                <li>Show users’ profiles to one another</li>
            </ul>


            <p><b><i>To ensure a consistent experience across your devices</i></b></p>
            <ul>
                <li><p>Link the various devices you use so that you can enjoy a consistent experience of our services on all of them. We do this by linking devices and browser data, such as when you log into your account on different devices or by using partial or full IP address, browser version and similar data about your devices to help identify and link them.</p></li>
            </ul>

            <p><b><i>To provide new Dating Social Network services to you</i></b></p>
            <ul>
                <li><p>Register you and display your profile on new Dating Social Network features and apps</p></li>
                <li><p>Administer your account on these new features and apps</p></li>
            </ul>

            <p><b><i>To serve you relevant offers and ads</i></b></p>
            <ul>
                <li><p>Administer sweepstakes, contests, discounts or other offers</p></li>
                <li><p>Develop, display and track content and advertising tailored to your interests on our services and other sites</p></li>
                <li><p>Communicate with you by email, phone, social media or mobile device about products or services that we think may interest you</p></li>
            </ul>

            <p><b><i>To improve our services and develop new ones</i></b></p>
            <ul>
                <li><p>Administer focus groups and surveys</p></li>
                <li><p>Conduct research and analysis of users’ behavior to improve our services and content (for instance, we may decide to change the look and feel or even substantially modify a given feature based on users’ behavior)</p></li>
                <li><p>Develop new features and services (for example, we may decide to build a new interests-based feature further to requests received from users).</p></li>
            </ul>

            <p><b><i>To prevent, detect and fight fraud or other illegal or unauthorized activities</i></b></p>
            <ul>
                <li><p>Address ongoing or alleged misbehavior on and off-platform</p></li>
                <li><p>Perform data analysis to better understand and design countermeasures against these activities</p></li>
                <li><p>Retain data related to fraudulent activities to prevent against recurrences</p></li>
            </ul>

            <p><b><i>To ensure legal compliance</i></b></p>
            <ul>
                <li><p>Comply with legal requirements</p></li>
                <li><p>Assist law enforcement</p></li>
                <li><p>Enforce or exercise our rights, for example our Terms</p></li>
            </ul>

            <p>To process your information as described above, we rely on the following legal bases:</p>

            <ul>
                <li><p><b><i>Provide our service to you:</i></b> Most of the time, the reason we process your information is to perform the contract that you have with us. For instance, as you go about using our service to build meaningful connections, we use your information to maintain your account and your profile, to make it viewable to other users and recommend other users to you.</p></li>
                <li><p><b><i>Legitimate interests:</i></b> We may use your information where we have legitimate interests to do so. For instance, we analyze users’ behavior on our services to continuously improve our offerings, we suggest offers we think might interest you, and we process information for administrative, fraud detection and other legal purposes.</p></li>
                <li><p><b><i>Consent:</i></b> From time to time, we may ask for your consent to use your information for certain specific reasons. You may withdraw your consent at any time by contacting us at the address provided at the end of this Privacy Policy.</p></li>
            </ul>



            <p><b>6. HOW WE SHARE INFORMATION</b></p>
            <p>Since our goal is to help you make meaningful connections, the main sharing of users’ information is, of course, with other users. We also share some users’ information with service providers and partners who assist us in operating the services, with other Match Group companies and, in some cases, legal authorities. Read on for more details about how your information is shared with others.</p>

            <ul>
                <li><b>With other users</b></li>
                <p>You share information with other users when you voluntarily disclose information on the service (including your public profile). Please be careful with your information and make sure that the content you share is stuff that you’re comfortable being publically viewable since neither you nor we can control what others do with your information once you share it.</p>
                <p>If you choose to limit the audience for all or part of your profile or for certain content or information about you, then it will be visible according to your settings.</p>

                <li><b>With our service providers and partners</b></li>
                <p>We use third parties to help us operate and improve our services. These third parties assist us with various tasks, including data hosting and maintenance, analytics, customer care, marketing, advertising, payment processing and security operations.</p>
                <p>We may also share information with partners who distribute and assist us in advertising our services. For instance, we may share limited information on you in hashed, non-human readable form to advertising partners.</p>
                <p>We follow a strict vetting process prior to engaging any service provider or working with any partner. All of our service providers and partners must agree to strict confidentiality obligations.</p>

                <li><b>With other Match Group businesses</b></li>
                <p>Dating Social Network is part of the Match Group family of businesses which, as of the date of this Privacy Policy, includes websites and apps such as Dating Social Network, OkCupid, Plenty of Fish, Match, Meetic, BlackPeopleMeet, LoveScout24, OurTime, Pairs, ParPerfeito, and Twoo (for more details, click <a href="#">here</a>).</p>
                <p>We share your information with other Match Group companies for them to assist us in processing your information, as service providers, upon our instructions and on our behalf. Assistance provided by other Match Group companies may include technical processing operations, such as data hosting and maintenance, customer care, marketing and targeted advertising, finance and accounting assistance, better understanding how our service is used and users’ behavior to improve our service, securing our data and systems and fighting against spam, abuse, fraud, infringement and other wrongdoings.</p>
                <p>We may also share information with other Match Group companies for legitimate business purposes such as corporate audit, analysis and consolidated reporting as well as compliance with applicable laws. We may also share user information with other Match Group companies to remove users who violate our terms of service, or have been reported for criminal activity and/or bad behavior. In some instances, we may remove that user from all platforms.</p>

                <li><b>For corporate transactions</b></li>
                <p>We may transfer your information if we are involved, whether in whole or in part, in a merger, sale, acquisition, divestiture, restructuring, reorganization, dissolution, bankruptcy or other change of ownership or control.</p>

                <li><b>When required by law</b></li>
                <p>We may disclose your information if reasonably necessary: (i) to comply with a legal process, such as a court order, subpoena or search warrant, government / law enforcement investigation or other legal requirements; (ii) to assist in the prevention or detection of crime (subject in each case to applicable law); or (iii) to protect the safety of any person.</p>

                <li><b>To enforce legal rights</b></li>
                <p>We may also share information: (i) if disclosure would mitigate our liability in an actual or threatened lawsuit; (ii) as necessary to protect our legal rights and legal rights of our users, business partners or other interested parties; (iii) to enforce our agreements with you; and (iv) to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing.</p>

                <li><b>With your consent or at your request</b></li>
                <p>We may ask for your consent to share your information with third parties. In any such case, we will make it clear why we want to share the information.</p>

                <p>We may use and share non-personal information (meaning information that, by itself, does not identify who you are such as device information, general demographics, general behavioral data, geolocation in de-identified form), as well as personal information in hashed, non-human readable form, under any of the above circumstances. We may also share this information with other Match Group companies and third parties (notably advertisers) to develop and deliver targeted advertising on our services and on websites or applications of third parties, and to analyze and report on advertising you see. We may combine this information with additional non-personal information or personal information in hashed, non-human readable form collected from other sources. More information on our use of cookies and similar technologies can be found in our <a href="#">Cookie Policy</a></p>


            </ul>


            <p><b>7. CROSS-BORDER DATA TRANSFERS</b></p>
            <p>Sharing of information laid out in <a href="#">Section 6</a> sometimes involves cross-border data transfers, for instance to the United States of America and other jurisdictions. As an example, where the service allows for users to be located in the European Economic Area (“EEA”), their personal information is transferred to countries outside of the EEA. We use standard contract clauses approved by the European Commission or other suitable safeguard to permit data transfers from the EEA to other countries. Standard contractual clauses are commitments between companies transferring personal data, binding them to protect the privacy and security of your data</p>

            <p><b>8. YOUR RIGHTS</b></p>
            <p>We want you to be in control of your information, so we have provided you with the following tools:</p>

            <ul>
                <li><p><u>Access / Update tools in the service.</u> Tools and account settings that help you to access, rectify or delete information that you provided to us and that’s associated with your account directly within the service. If you have any question on those tools and settings, please contact our customer care team for help <a href="#">here</a>.</p></li>
                <li><p><u>Device permissions.</u> Mobile platforms have permission systems for specific types of device data and notifications, such as phone book and location services as well as push notifications. You can change your settings on your device to either consent or oppose the collection of the corresponding information or the display of the corresponding notifications. Of course, if you do that, certain services may lose full functionality.</p></li>
                <li><p><u>Deletion.</u> You can delete your account by using the corresponding functionality directly on the service.</p></li>
            </ul>

            <p>We want you to be aware of your privacy rights. Here are a few key points to remember:</p>

            <ul>
                <li><p><u>Reviewing your information.</u> Applicable privacy laws may give you the right to review the personal information we keep about you (depending on the jurisdiction, this may be called right of access, right of portability or variations of those terms). You can request a copy of your personal information by putting in such a request <a href="#">here.</a></p></li>
                <li><p><u>Updating your information.</u> If you believe that the information we hold about you is inaccurate or that we are no longer entitled to use it and want to request its rectification, deletion or object to its processing, please contact us <a href="#">here.</a></p></li>
            </ul>

            <p>For your protection and the protection of all of our users, we may ask you to provide proof of identity before we can answer the above requests.</p>

            <p>Keep in mind, we may reject requests for certain reasons, including if the request is unlawful or if it may infringe on trade secrets or intellectual property or the privacy of another user. If you wish to receive information relating to another user, such as a copy of any messages you received from him or her through our service, the other user will have to contact our Privacy Officer to provide their written consent before the information is released.</p>

            <p>Also, we may not be able to accommodate certain requests to object to the processing of personal information, notably where such requests would not allow us to provide our service to you anymore. For instance, we cannot provide our service if we do not have your date of birth.</p>

            <ul>
                <li><p><u>Uninstall.</u> You can stop all information collection by an app by uninstalling it using the standard uninstall process for your device. If you uninstall the app from your mobile device, the unique identifier associated with your device will continue to be stored. If you re-install the application on the same mobile device, we will be able to re-associate this identifier to your previous transactions and activities.</p></li>
                <li><p><u>Accountability.</u> In certain countries, including in the European Union, you have a right to lodge a complaint with the appropriate data protection authority if you have concerns about how we process your personal information. The data protection authority you can lodge a complaint with notably may be that of your habitual residence, where you work or where we are established.</p></li>
            </ul>

            <p><b>9. RESIDENTS OF CALIFORNIA</b></p>
            <p>If you are a California resident, you can request a notice disclosing the categories of personal information about you that we have shared with third parties for their direct marketing purposes during the preceding calendar year. To request this notice, please submit your request <a href="#">here</a>. Please allow 30 days for a response. For your protection and the protection of all of our users, we may ask you to provide proof of identity before we can answer such a request.</p>

            <p><b>10. HOW WE PROTECT YOUR INFORMATION</b></p>
            <p>We work hard to protect you from unauthorized access to or alteration, disclosure or destruction of your personal information. As with all technology companies, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information will always remain secure.</p>

            <p>We regularly monitor our systems for possible vulnerabilities and attacks and regularly review our information collection, storage and processing practices to update our physical, technical and organizational security measures.</p>

            <p>We may suspend your use of all or part of the services without notice if we suspect or detect any breach of security. If you believe that your account or information is no longer secure, please notify us immediately <a href="#">here</a></p>

            <p>In order to ensure that our systems and your information are protected against unauthorized access, theft and loss, we implemented a bug bounty program. For more information about our bug bounty program, please click <a href="#">here</a>.</p>

            <p><b>11. HOW LONG WE RETAIN YOUR INFORMATION</b></p>
            <p>We keep your personal information only as long as we need it for legitimate business purposes (as laid out in <a href="#">Section 5</a>) and as permitted by applicable law. To protect the safety and security of our users on and off our services, we implement a safety retention window of three months following account deletion. During this period, account information will be retained although the account will of course not be visible on the services anymore.</p>

            <p>In practice, we delete or anonymize your information upon deletion of your account (following the safety retention window) or after two years of continuous inactivity, unless:</p>

            <ol type="1">
                <li><p>we must keep it to comply with applicable law (for instance, some “traffic data” is kept for one year to comply with statutory data retention obligations);</p></li>
                <li><p>we must keep it to evidence our compliance with applicable law (for instance, records of consents to our Terms, Privacy Policy and other similar consents are kept for five years);</p></li>
                <li><p>there is an outstanding issue, claim or dispute requiring us to keep the relevant information until it is resolved; or</p></li>
                <li><p>the information must be kept for our legitimate business interests, such as fraud prevention and enhancing users' safety and security. For example, information may need to be kept to prevent a user who was banned for unsafe behavior or security incidents from opening a new account.</p></li>
            </ol>

            <p>Keep in mind that even though our systems are designed to carry out data deletion processes according to the above guidelines, we cannot promise that all data will be deleted within a specific timeframe due to technical constraints.</p>

            <p><b>12. CHILDREN’S PRIVACY</b></p>
            <p>Our services are restricted to users who are 18 years of age or older. We do not permit users under the age of 18 on our platform and we do not knowingly collect personal information from anyone under the age of 18. If you suspect that a user is under the age of 18, please use the reporting mechanism available through the service.</p>

            <p><b>13. PRIVACY POLICY CHANGES</b></p>
            <p>Because we’re always looking for new and innovative ways to help you build meaningful connections, this policy may change over time. We will notify you before any material changes take effect so that you have time to review the changes.</p>

            <p><b>14. HOW TO CONTACT US</b></p>
            <p>If you have questions about this Privacy Policy, here’s how you can reach us:</p>

            <p><b>If you live in the European Union:</b></p>
            <p>Online: <a href="#">here</a></p>

            <p>Privacy Officer</p>
            <p>Rf Soft Lab Limited</p>
            <p>Dating Social Network</p>
            <p>WeWork Charlemont Exchange</p>
            <p>3/3 parise</p>
            <p>Parise 2, D02 R593</p>
            <p>France</p>

            <p><b>If you live outside the European Union:</b></p>
            <p>Online: <a href="#">here</a></p>
            <p>By post:</p>
            <p>Privacy Officer</p>
            <p>Rf Soft Lab, RSL</p>
            <p>1207 Dhaka</p>
            <p>Mohammadpur 1302</p>
            <p>Dallas, TX 812</p>
            <p>Asia</p>
        </div>
    </div>
{% endblock %}